* {
	margin: 0;
  	padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

html,body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
} 

/* TOP MESSAGE */

#top-message{
    background-color: black;
}

.text-top{
    padding: 5px 0;
}

.text-top ul{
    margin-bottom: 0;
}

.text-top ul li{
    list-style: none;
    text-transform: capitalize;
    font-weight: 400;
    display: inline-block;
    color: white;
    margin-right: 10px;
    font-size: 14px;
}

.text-top ul li span{
    border-left: 1px dotted white;
}

.text-login{
    padding: 5px 0;
    text-align: right;
}

.text-login ul{
    margin-bottom: 0;
}

.text-login ul li{
    list-style: none;
    text-transform: capitalize;
    font-weight: 400;
    display: inline-block;
    color: white;
    margin-left: 10px;
}

.text-login ul li span{
    border-left: 1px dotted white;
}

.text-login ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.text-login ul li a:hover{
    text-decoration: none;
    font-weight: 400;
}

/* MAIN MENU */

.navbar {
    transition: all 0.4s;
    background: #fff;
}

.navbar .nav-link {
    color: #555;
    padding: 5px 5px !important;
}

.navbar .nav-link span{
    margin-left: 10px;
    border-left: 1px dotted;
}

.navbar .nav-link span i{
    font-size: 14px;
    opacity: 0.4;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #76b960;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #76b960;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #555;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: #76b960;
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #76b960;
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}

/* SLIDER */

.slider {
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 3;
  overflow: hidden; 
}

.slider h1{
	margin-bottom: 0;
    background: rgba(118,185,96,0.8);
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 50px;
}

 .slider h4{
      margin-bottom: 0;
    background: rgba(0,0,0,0.8);
     color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
  }

.slider #owlCarousel,
.slider .owl-stage-outer,
.slider .owl-stage,
.slider .owl-item-bg,
.slider .owl-item {
  min-height: 100vh; 
}

.slider .owl-item {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden; 
}

.slider .owl-item-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.slide-content {
  padding-top: 40vh; 
}

.slider .back {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
	background: rgba(9, 29, 53, 0.2);
	display: none;
   }

.slide-text-box {
  z-index: 4; 
    text-align: center;
}

#slider.owl-theme .owl-controls .owl-nav .owl-prev{
	background-color: transparent;
	font-size: 25px;
	position: absolute;
	top: 50%;
	left: 2%
}

#slider.owl-theme .owl-controls .owl-nav .owl-next{
	background-color: transparent;
	font-size: 25px;
	position: absolute;
	top: 50%;
	right: 2%
}

.btn-slider{
	margin-top: 40px;
	margin-bottom: 20px;
}

.btn-slider a{
	background: rgba(0,0,0,0.8);
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid white;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;	
}

.btn-slider a:hover{
	background-color: white;
	text-decoration: none;
	border: 2px solid white;
	color: #76b960;
    transition: 0.6s ease;
}

/* FEATURED */

#featured{
    padding-top: 70px;
    padding-bottom: 80px;
}

.text-featured{
    text-align: center;
}

.text-featured h2{
    font-size: 40px;
    margin-bottom: 0;
}

.text-featured hr{
    width: 150px;
    height: 2px;
    background-color: #76b960;
    margin: 20px auto;
}

.text-featured p{
    color: #747474;
    font-size: 18px;
    margin-bottom: 60px;
}

.box-img-featured{
    padding: 10px;
}

.img-featured{
    width: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-featured{
    width: inherit;
    min-height: inherit;
    background: rgba(0,0,0,0.4);
    align-items: center;
    justify-content: center;
     display: flex;
    flex-direction: column;
}

.bg-featured p{
    font-size: 18px;
    margin-bottom: 0;
    font-style: italic;
    text-transform: capitalize;
    color: white;
}

.bg-featured h3{
    margin: 15px 0;
    color: white;
    font-weight: 600;
    text-align: center;
}

.btn-featured{
    margin-top: 30px;
    margin-bottom: 16px;
}

.btn-featured a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #76b960;
    background-color: #76b960;
    padding: 15px 25px;
}

.btn-featured a:hover{
    text-decoration: none;
    color: #76b960;
    border: 2px solid white;
    background-color: white;
    transition: 0.6s ease;
}

/* TOP PROPERTIES */

#top-properties{
    width: 100%;
    min-height: 450px;
    background-image: url(..//images/house6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-top-properties{
    width: inherit;
    min-height: inherit;
    background: rgba(0,0,0,0.4);
    padding-top: 80px;
    padding-bottom: 180px;
}

.text-top-properties{
    text-align: center;
}

.text-top-properties h2{
    font-size: 40px;
    margin-bottom: 0;
    color: white;
}

.text-top-properties hr{
    width: 150px;
    height: 2px;
    background-color: white;
    margin: 20px auto;
}

.text-top-properties p{
    color: white;
    font-size: 18px;
    margin-bottom: 60px;
}

/* TOP PROPERTY */

#top-property{
    
}

.property-top{
    background-color: white;
    margin-top: -150px;
    padding-bottom: 80px;
}

.box-top-property{
    padding: 10px;
}

.img-top-property{
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-top-property a{
    width: 100%;
    height: inherit;
    text-decoration: none;
}

.bg-img-top-propery{
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: inherit;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-img-top-propery i{
    font-size: 55px;
    color: white;
}

.img-top-property a:hover .bg-img-top-propery{
    opacity: 1;
    transition: 0.6s ease;
}

.text-top-propery{
    padding: 10px 0;
    
}

.text-top-propery h4{
    
}

.text-top-propery h6{
    font-weight: 600;
    letter-spacing: 1px;
    padding: 10px 0;
}

.text-top-propery p{
    color: #747474;
    margin-bottom: 0;
}

/* SELL */

#sell{
    
}

.padd-sell{
    padding: 0;
}

.img-sell{
    background-image: url(..//images/slider2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.text-sell{
    padding: 80px 40px;
    background-color: #f2f2f2;
}

.text-sell h2{
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}

.text-sell hr{
    width: 150px;
    height: 2px;
    background-color: #76b960;
    margin: 20px auto;
}

.text-sell p{
    color: #747474;
    font-size: 18px;
    text-align: center;
}

.btn-sell{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-sell a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #76b960;
    background-color: #76b960;
    padding: 15px 25px;
}

.btn-sell a:hover{
    text-decoration: none;
    color: #76b960;
    border: 2px solid #76b960;
    background-color: white;
    transition: 0.6s ease;
}

/* FROM OUR BLOG */

#from-blog{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.text-from-blog{
    text-align: center;
}

.text-from-blog h2{
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}

.text-from-blog hr{
    width: 150px;
    height: 2px;
    background-color: #76b960;
    margin: 20px auto;
}

.text-from-blog p{
    color: #747474;
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}

.box-from-blog{
    padding: 10px;
}

.img-from-blog{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 250px;
    position: relative;
}

.img-from-blog h6{
    position: absolute;
    margin-bottom: 0;
    text-align: center;
    background-color: #76b960;
    padding: 10px 15px;
    top: 5px;
    left: 5px;
    color: white;
}

.text-box-from-blog{
    padding: 15px 0;
}

.text-box-from-blog h4{
    
}

.text-box-from-blog h4 a{
    text-decoration: none;
    color: black;
}

.text-box-from-blog h4 a:hover{
    text-decoration: none;
    color: #76b960;
}

.text-box-from-blog p{
    color: #747474;
    margin-bottom: 0;
}

/* POPULAR CITIES */

#popular-cities{
    padding: 80px 0;
    width: 100%;
    height: auto;
    background-color: #f2f2f2;
}

.text-popular-cities{
    text-align: center;
}

.text-popular-cities h2{
    font-size: 40px;
    margin-bottom: 0;
    text-align: center;
}

.text-popular-cities hr{
    width: 150px;
    height: 2px;
    background-color: #76b960;
    margin: 20px auto;
}

.text-popular-cities p{
    color: #747474;
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
}

.box-popular{
    padding: 10px;
}

.img-popular-cities{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 300px;
    padding: 20px;
}

.img-popular-cities:hover .text-img-popular{
    opacity: 1;
    transition: 0.6s ease;
}

.text-img-popular{
    width: 100%;
    min-height: inherit;
    text-align: center;
    background: rgba(0,0,0,0.5);
    padding-top: 120px;
    opacity: 0;
}

.text-img-popular h4 a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.text-img-popular h4 a:hover{
    text-decoration: none;
    color: #76b960;
}

.text-img-popular h6{
    color: white;
}

/* NEWSLETTER */

#newsletter{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.img-newsletter{
    background-image: url(..//images/house5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 53%;
    height: 400px;
}

.text-newsletter{
    text-align: center;
    border: 2px solid #76b960;
    padding: 40px;
    width: 53%;
    margin-left: auto;
    margin-top: -300px;
}

.text-newsletter h2{
    font-size: 40px;
    margin-bottom: 0;
}

.text-newsletter hr{
    width: 150px;
    height: 2px;
    background-color: #76b960;
    margin: 20px auto;
}

.text-newsletter p{
    color: #747474;
    font-size: 18px;
}

.nesletter-email{
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid #e1e1e1;
    margin-bottom: 10px;
    padding: 14px 0;
    text-align: center;
    background-color: transparent;
}

.btn-newsletter{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-newsletter a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #76b960;
    background-color: #76b960;
    padding: 15px 25px;
}

.btn-newsletter a:hover{
    text-decoration: none;
    color: #76b960;
    border: 2px solid #76b960;
    background-color: white;
    transition: 0.6s ease;
}

/* FOOTER */

#footer{
    padding: 80px 0;
    width: 100%;
    height: auto;
    background-color: #111111;
}

.text-footer{
    text-align: center;
}

.text-footer a{
    text-decoration: none;
    color: #76b960;
    font-size: 35px;
    font-weight: 600;
}

.text-footer p{
    color: white;
    margin-bottom: 0;
    padding: 15px 0;
}

.soc-icons ul li{
    list-style: none;
    display: inline-block;
    padding: 0 15px;
}

.soc-icons ul li a i{
    color: white;
    font-size: 22px;
}

.soc-icons ul li a i:hover{
    color: #76b960;
    text-decoration: none;
}

.text-footer hr{
    background-color: white;
    margin: 40px 0;
}

.quick-links ul{
    margin-bottom: 0;
    margin-top: 40px;
}

.quick-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0 10px;
    border-right: 1px dotted white;
    border-color: white;
}

.quick-links ul li:last-of-type{
    border-right: none;
}

.quick-links ul li a{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.quick-links ul li a:hover{
    color: #76b960;
    text-decoration: none;
}

.copy{
    text-align: center;
    padding: 5px;
}

.copy p{
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: 1px;
}

.copy p a{
    text-decoration: none;
    color: #76b960;
}

.copy p a:hover{
    text-decoration: none;
    color: black;
}

/* RESPONSIVE HOME PAGE */

@media (min-width: 992px) and (max-width: 1199px) {
    .img-featured{
        min-height: 300px;
    }
    .img-popular-cities{
        min-height: 200px;
    }
    .text-img-popular{
        padding-top: 65px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .text-top{
        display: none;
    }
    .navbar .navbar-brand{
        color: #76b960;
    }
    .text-login{
        text-align: center;
    }
    .navbar .nav-link{
        text-align: center;
    }
    .navbar .nav-link span{
        display: none;
    }
    .img-featured{
        min-height: 350px;
    }
    .img-top-property{
        height: 200px;
    }
    .img-sell{
        width: 100%;
        height: 350px;
        display: none;
    }
    .img-newsletter{
        width: 100%;
        display: none;
    }
    .text-newsletter{
        margin-top: 0;
        width: 100%;
    }
    .text-login ul li:first-of-type{
        margin-left: 0;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .text-top{
        display: none;
    }
    .navbar .navbar-brand{
        color: #76b960;
    }
    .text-login{
        text-align: center;
    }
    .navbar .nav-link{
        text-align: center;
    }
    .navbar .nav-link span{
        display: none;
    }
    .slider h1, .slider h4{
        width: 100%;
    }
    .img-top-property{
        height: 200px;
    }
    .img-sell{
        width: 100%;
        height: 350px;
        display: none;
    }
    .img-newsletter{
        width: 100%;
        display: none;
    }
    .text-newsletter{
        margin-top: 0;
        width: 100%;
    }
    .img-from-blog{
        height: 220px;
    }
    .img-popular-cities{
        min-height: 200px;
    }
    .text-img-popular{
        padding-top: 65px;
    }
    .text-login ul li:first-of-type{
        margin-left: 0;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    .text-top{
        display: none;
    }
    .navbar .navbar-brand{
        color: #76b960;
    }
    .text-login{
        text-align: center;
    }
    .navbar .nav-link{
        text-align: center;
    }
    .navbar .nav-link span{
        display: none;
    }
    .slider {
      min-height: 80vh;
    }
    .slider #owlCarousel,
    .slider .owl-stage-outer,
    .slider .owl-stage,
    .slider .owl-item-bg,
    .slider .owl-item {
      min-height: 80vh; 
    }
    .slide-content{
        padding-top: 30vh;
    }
    .slider h1{
        font-size: 40px;
    }
    .text-featured h2{
        font-size: 30px;
    }
    .bg-featured h3{
        font-size: 25px;
    }
    .text-top-properties h2{
        font-size: 30px;
    }
    .text-sell h2{
        font-size: 30px;
    }
    .text-from-blog h2{
        font-size: 30px;
    }
    .text-popular-cities h2{
        font-size: 30px;
    }
    .text-newsletter h2{
        font-size: 30px;
    }
    .text-sell{
        padding: 60px 20px;
    }
    .slider h1, .slider h4{
        width: 100%;
    }
    #top-properties{
        min-height: 350px;
    }
    .bg-top-properties{
        padding-top: 40px;
        padding-bottom: 160px;
    }
    .img-top-property{
        height: 200px;
    }
    .img-sell{
        width: 100%;
        height: 350px;
        display: none;
    }
    .img-newsletter{
        width: 100%;
        display: none;
    }
    .text-newsletter{
        margin-top: 0;
        width: 100%;
    }
    .img-from-blog{
        height: 220px;
    }
    .img-popular-cities{
        min-height: 200px;
    }
    .text-img-popular{
        padding-top: 65px;
    }
    #featured{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .img-featured{
        min-height: 320px;
    }
    .property-top{
        margin-left: 1px;
        margin-right: 1px;
    }
    #from-blog{
        padding: 40px 0;
    }
    #popular-cities{
        padding: 40px 0;
    }
    #footer{
        padding: 40px 0;
    }
    .bg-img-top-propery{
        opacity: 1;
    }
    .text-img-popular{
        opacity: 1;
    }
    .text-login ul li:first-of-type{
        margin-left: 0;
    }
}

@media (max-width: 320px) {
    .text-top{
        display: none;
    }
    .navbar .navbar-brand{
        color: #76b960;
    }
    .text-login{
        text-align: center;
    }
    .navbar .nav-link{
        text-align: center;
    }
    .navbar .nav-link span{
        display: none;
    }
    .slider {
      min-height: 100vh;
    }
    .slider #owlCarousel,
    .slider .owl-stage-outer,
    .slider .owl-stage,
    .slider .owl-item-bg,
    .slider .owl-item {
      min-height: 100vh; 
    }
    .slide-content{
        padding-top: 35vh;
    }
    .slider h1, .slider h4{
        width: 100%;
    }
    .img-top-property{
        height: 200px;
    }
    .img-sell{
        width: 100%;
        height: 350px;
        display: none;
    }
    .img-newsletter{
        width: 100%;
        display: none;
    }
    .text-newsletter{
        margin-top: 0;
        width: 100%;
    }
    .img-from-blog{
        height: 220px;
    }
    .img-popular-cities{
        min-height: 200px;
    }
    .text-img-popular{
        padding-top: 65px;
    }
    #featured{
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .img-featured{
        min-height: 320px;
    }
    .property-top{
        margin-left: 1px;
        margin-right: 1px;
    }
    #from-blog{
        padding: 40px 0;
    }
    #popular-cities{
        padding: 40px 0;
    }
    
    .slider h1{
        font-size: 40px;
    }
    .text-featured h2{
        font-size: 30px;
    }
    .bg-featured h3{
        font-size: 25px;
    }
    .text-top-properties h2{
        font-size: 30px;
    }
    .text-sell h2{
        font-size: 30px;
    }
    .text-from-blog h2{
        font-size: 30px;
    }
    .text-popular-cities h2{
        font-size: 30px;
    }
    .text-newsletter h2{
        font-size: 30px;
    }
    .text-sell{
        padding: 60px 20px;
    }
    .slider h1, .slider h4{
        width: 100%;
    }
    #top-properties{
        min-height: 350px;
    }
    .bg-top-properties{
        padding-top: 40px;
        padding-bottom: 160px;
    }
    #footer{
        padding: 40px 0;
    }
    .bg-img-top-propery{
        opacity: 1;
    }
    .text-img-popular{
        opacity: 1;
    }
    .soc-icons ul li{
        padding: 0px 10px;;
    }
    .soc-icons ul li a i{
        font-size: 20px;
    }
    .text-login ul li:first-of-type{
        margin-left: 0;
    }
}

/* HERO INNER PAGES */

#inner-hero{
    background-image: url(..//images/hero-inner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 18vh 0 7vh 0;
}

.text-inner-hero{
    text-align: center;
}

.text-inner-hero h1{
    margin-bottom: 0;
    background: rgba(0,0,0,0.6);
    color: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px 10px;
    font-size: 50px;
}

/* ABOUT US PAGE */

#about-us{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.img-about-us{
    width: 100%;
    height: 100%;
    background-image: url(..//images/company.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-about-us{
    
}

.text-about-us h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.text-about-us h6{
    font-size: 18px;
    margin-bottom: 15px;
}

.text-about-us p{
    font-size: 18px;
    color: #747474;
}

.text-about-us ul{
    margin-bottom: 0;
}

.text-about-us ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.text-about-us ul li:first-of-type{
    font-weight: 500;
    font-size: 18px;
}

.text-about-us ul li a i{
    font-size: 18px;
    color: #747474;
}

.text-about-us ul li a i:hover{
    color: #76b960;
}

/* BECOME */

#become{
    background-color: #76b960;
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.text-become{
    text-align: center;
}

.text-become h3{
    text-transform: uppercase;
    margin-bottom: 0;
    color: white;
}

.text-become p{
    margin: 30px 0;
    color: white;
    font-size: 18px;
}

.btn-become{
    text-align: center;
    margin-top: 45px;
    margin-bottom: 15px;
}

.btn-become a{
    text-decoration: none;
    color: #76b960;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid white;
    background-color: white;
    padding: 15px 25px;
}

.btn-become a:hover{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    transition: 0.6s ease;
}

/* OUR LEADERSHEP */

#leadershep{
    width: 100%;
    height: auto;
    padding: 80px 0;
}

.padd-leader{
    padding: 10px;
}

.img-leader{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.text-leader{
    padding: 0 10px;
}

.text-leader h4{
    margin-bottom: 0;
    margin-top: 10px;
}

.text-leader p{
    margin: 10px 0;
}

.text-leader ul{
    margin-bottom: 0;
}

.text-leader ul li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.text-leader ul li a i{
    color: #747474;
}

.text-leader ul li a i:hover{
    color: #76b960;
}

.text-leaderhep h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

/* RESPONSIVE ABOUT PAGE */

@media (min-width: 992px) and (max-width: 1199px) {
    #inner-hero{
        padding: 20vh 0 7vh 0;
    }
}

@media (min-height: 1366px){
    #inner-hero{
        padding: 15vh 0 7vh 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
	#inner-hero{
        padding: 20vh 0 7vh 0;
    }
    .about-order-2{
        order: 1;
    }
    .about-order-1{
        order: 2;
    }
    .img-about-us{
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #inner-hero{
        padding: 20vh 0 7vh 0;
    }
    .about-order-2{
        order: 1;
    }
    .about-order-1{
        order: 2;
    }
    .img-about-us{
        width: 100%;
        height: 350px;
        margin-top: 30px;
    }
    .img-leader{
        height: 250px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #inner-hero{
        padding: 20vh 0 7vh 0;
    }
    .about-order-2{
        order: 1;
    }
    .about-order-1{
        order: 2;
    }
    .img-about-us{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
    .img-leader{
        
    }
    .text-inner-hero h1{
        font-size: 40px;
        margin: 0;
        width: 100%;
    }
    #about-us{
        padding: 40px 0;
    }
    .text-about-us h2{
        font-size: 30px;
    }
    #leadershep{
        padding: 40px 0;
    }
    .text-leaderhep h2{
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    #inner-hero{
        padding: 26vh 0 7vh 0;
    }
    .about-order-2{
        order: 1;
    }
    .about-order-1{
        order: 2;
    }
    .img-about-us{
        width: 100%;
        height: 250px;
        margin-top: 30px;
    }
    .img-leader{
        
    }
    .text-inner-hero h1{
        font-size: 40px;
        margin: 0;
        width: 100%;
    }
    #about-us{
        padding: 40px 0;
    }
    .text-about-us h2{
        font-size: 30px;
    }
    #leadershep{
        padding: 40px 0;
    }
    .text-leaderhep h2{
        font-size: 30px;
    }    
}

/* PROPERTIES PAGE */

#properties-search{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.form-simple{
    box-shadow: none !important;
    border-radius: 0;
}

.btn-simple{
    width: 100%;
    height: 100%;
    border: 2px solid #76b960;
    background-color: #76b960;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-simple:hover{
    border: 2px solid #76b960;
    background-color: transparent;
    color: #76b960;
}

.row-form{
    margin-bottom: 30px;
}

/* PROPERTY */

.padd-properties{
    padding: 15px;
}

.border-prop{
    box-shadow: 5px 5px 10px #e6e6e6;
}

.border-prop:hover{
    box-shadow: none;
}

.img-properties{
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.img-properties a{
    position: absolute;
    width: 100%;
    height: 100%;
}

.img-properties p{
    position: absolute;
    margin-bottom: 0;
    background-color: #76b960;
    color: white;
    font-weight: 600;
    padding: 5px 15px;
    top: 5px;
    left: 5px;
}

.text-properties{
    padding: 15px;
}

.text-properties h5{
    margin-bottom: 20px;
}

.text-properties h5 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.text-properties h5 a:hover{
    text-decoration: none;
    color: #76b960;
    font-weight: 500;
}

.text-properties ul{
    margin-bottom: 20px;
}

.text-properties ul li{
    list-style: none;
    display: inline-block;
    width: 49%;
    color: #747474;
}

.text-properties ul li i{
    font-size: 18px;
    margin-right: 5px;
}

.text-properties h4{
    margin-bottom: 0;
}

.paginations{
    margin-top: 30px;
}

.pagination{
    margin-bottom: 0;
}

.active-pagin{
    background-color: #76b960;
    color: white !important;
}

.page-link{
    color: #747474;
}

.page-link:hover{
    background-color: #76b960;
    color: white;
}

/* RESPONSIVE PROPERTIES */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #properties-search{
        padding: 40px 0;
    }
    .btn-simple{
        padding: 6px;
    }
}

@media (max-width: 320px) {
    #properties-search{
        padding: 40px 0;
    }
    .btn-simple{
        padding: 6px;
    }
}

/* PROPERTY PAGE */

#gallery-property{
    padding: 80px 0;
}

.img-fluid{
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-gall{
    width: 100%;
    height: 265px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.padd-gall{
    padding: 10px;
}

/* PROPERTY TYPE */

#property-type{
    padding-bottom: 80px;
}

.price-property-type{
    text-align: right;
}

.price-property-type h3{
    margin-bottom: 0;
}

.text-property-type h3{
    margin-bottom: 0;
}

.prop-choose{
    
}

.prop-choose ul{
    margin: 20px 0;
}

.prop-choose ul li{
    list-style: none;
    display: inline-block;
    margin-right: 25px;
}

.prop-choose ul li i{
    color: #76b960;
    margin-right: 5px;
}

.prop-choose hr{
    margin-bottom: 40px;
}

.description{
    
}

.description h4{
    margin-bottom: 20px;
}

.description p{
    font-size: 18px;
    margin-bottom: 0;
}

.description hr{
    margin: 40px 0;
}

.location{
    
}

.location h4{
    margin-bottom: 20px;
    float: left;
    width: 50%;
}

.location p{
    float: right;
    margin-bottom: 20px;
    font-size: 18px;
}

.location p i{
    color: #76b960;
    margin-right: 5px;
}

.map-prop{
    float: none;
    width: 100%;
    height: 350px;
}

.location hr{
    margin: 40px 0;
}

.amenities{
    
}

.amenities h4{
    margin-bottom: 20px;
}

.amenities ul{
    margin-bottom: 0;
}

.amenities ul li{
    list-style: none;
    display: inline-block;
    width: 32%;
    font-size: 18px;
}

.amenities ul li i{
    color: #76b960;
    margin-right: 5px;
}

.amenities hr{
    margin: 40px 0;
}

.plan-flor{
    
}

.plan-flor h4{
    margin-bottom: 20px;
}

.plan-flor hr{
    margin-top: 40px;
    margin-bottom: 0;
}

.first{
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 0;
    margin-bottom: 0;
    border-top: 2px solid black;
    cursor: pointer;
}

.img-first-flor{
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 15px;
}

.first-flor p{
    font-size: 18px;
}

.second{
    font-weight: 500;
    letter-spacing: 1px;
    padding: 15px 0;
    margin-bottom: 0;
    border-top: 2px solid black;
    cursor: pointer;
}
.second-flor p{
    font-size: 18px;
}

.contact-property{
    box-shadow: 5px 5px 10px #e6e6e6;
    padding: 15px;
    position: sticky;
    position: -webkit-sticky;
    align-self: flex-start;
}

.contact-property ul{
    
}

.contact-property ul li{
    list-style: none;
    font-weight: 500;
    font-size: 20px;
}

.contact-property ul li i{
    margin-right: 5px;
    color: #76b960;
}

.form-fields-prop{
    box-shadow: none !important;
    border-radius: 0;
}

.btn-prop{
    width: 100%;
    padding: 6px;
    border: 2px solid #76b960;
    background-color: #76b960;
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-prop:hover{
    border: 2px solid #76b960;
    background-color: transparent;
    color: #76b960;
}

/* RESPONSIVE PROPERTY */

@media (min-width: 992px) and (max-width: 1199px) {
    .img-fluid{
        height: 320px;
    }
    .img-gall{
        height: 150px;
    }
    .location h4{
        width: 30%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .img-fluid{
        height: 320px;
    }
    .img-gall{
        height: 150px;
    }
    .location h4{
        width: 100%;
    }
    .location p{
        float: left;
        width: 100%;
    } 
}

@media (min-width: 481px) and (max-width: 767px) {
    .price-property-type{
        text-align: left;
        margin-top: 10px;
    }
    .plan-flor hr{
        margin-bottom: 40px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #gallery-property{
        padding: 40px 0;
    }
    .img-fluid{
        height: 250px;
    }
    .img-gall{
        height: 250px;
    }
    .price-property-type{
        text-align: left;
        margin-top: 10px;
    }
    .img-first-flor{
        height: 250px;
    }
    .amenities ul li{
        width: 49%;
    }
    .location h4{
        width: 100%;
    }
    .location p{
        float: left;
        width: 100%;
    } 
    .plan-flor hr{
        margin-bottom: 40px;
    }
}   

@media (max-width: 320px) {
    #gallery-property{
        padding: 40px 0;
    }
    .img-fluid{
        height: 250px;
    }
    .img-gall{
        height: 250px;
    }
    .price-property-type{
        text-align: left;
        margin-top: 10px;
    }
    .img-first-flor{
        height: 250px;
    }
    .amenities ul li{
        width: 49%;
    }
    .location h4{
        width: 100%;
    }
    .location p{
        float: left;
        width: 100%;
    } 
    .plan-flor hr{
        margin-bottom: 40px;
    }
}

/* NEWS PAGE */

#news-page{
    padding: 80px 0;
}

.padd-news{
    padding: 15px;
}

.img-news{
    width: 100%;
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-news-page{
    padding: 15px;
}

.text-news-page h6{
    margin-bottom: 0;
}

.text-news-page h4{
    margin: 15px 0;
}

.text-news-page h4 a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.text-news-page h4 a:hover{
    text-decoration: none;
    color: #76b960;
}

.read-more-news{
   margin-top: 35px;
    margin-bottom: 12px
}

.read-more-news a{
    color: white;
    text-transform: capitalize;
    font-weight: 500;
    background-color: #76b960;
    padding: 10px 20px;
    text-decoration: none;
    border: 2px solid #76b960;
}

.read-more-news a:hover{
    color:#76b960;
    background-color: transparent;
    text-decoration: none;
    border: 2px solid #76b960;
    transition: 0.6s ease;
}

.shadow-news{
    box-shadow: 5px 5px 10px #e6e6e6;
}

/* NEWS RESPONSIVE */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
   
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #news-page{
        padding: 40px 0;
    }
    .img-news{
        height: 260px;
    }
}

@media (max-width: 320px) {
    #news-page{
        padding: 40px 0;
    }
    .img-news{
        height: 260px;
    }
}

/* SINGLE NEWS */

#single-news{
    padding: 80px 0;
}

.title-single{
    
}

.title-single h2{
    font-size: 40px;
}

.title-single h6{
    margin-bottom: 20px;
}

.img-single-news{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
}

.desc-single{
    margin-top: 20px;
}

.desc-single p{
    font-size: 18px;
}

.desc-single p:nth-of-type(1) span{
    font-weight: 600;
}

.desc-single ul{
    
}

.desc-single ul li{
    list-style: none;
    font-size: 18px;
}

.desc-single ul li i{
    color: #76b960;
    margin-right: 5px;
}

.desc-single p:nth-of-type(5){
    margin-bottom: 0;
    border-left: 2px solid #76b960;
    padding: 20px;
}

.marg-single-gall{
    margin-top: 30px;
}

.gall-single{
    width: 100%;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padd-single-gall{
    padding: 15px;
}

/* RESPONSIVE SINGLE NEWS */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 481px) and (max-width: 767px) {
    .img-single-news{
        height: 350px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #single-news{
        padding: 40px 0;
    }
    .title-single h2{
        font-size: 30px;
    }
    .img-single-news{
        height: 250px;
    }
}

@media (max-width: 320px) {
    #single-news{
        padding: 40px 0;
    }
    .title-single h2{
        font-size: 30px;
    }
    .img-single-news{
        height: 250px;
    }
}

/* CONTACT PAGE */

#contact-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.cont-map{
    width: 100%;
    height: 450px;;
}

.contact-info{
    
}

.contact-info h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

.contact-info ul{
    
}

.contact-info ul li{
    list-style: none;
    margin-bottom: 5px;
}

.contact-info ul li i{
    margin-right: 5px;
    color: #76b960;
}

.contact-info ul li span{
    font-weight: 500;
}

.contact-info ul li a{
    text-decoration: none;
    color: #747474;
}

.contact-info ul li a:hover{
    text-decoration: none;
    color: #76b960;
}

.contact-info h5{
    margin-top: 20px;
}

.contact-info p{
    color: #747474;
}

.contact-info p:first-of-type{
    margin-bottom: 5px;
}

.form-contact{
    margin-top: 60px;
}

.form-contact h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 40px;
}

.form-fields-cont{
    box-shadow: none !important;
    border-radius: 0;
}

.btn-captcha-cont{
	background: #76b960;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #76b960;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;	
    margin-top: 30px;
}

.btn-captcha-cont:hover{
	background-color: transparent;
	text-decoration: none;
	border: 2px solid #76b960;
	color: #76b960;
    transition: 0.6s ease;
}

/* RESPONSIVE CONTACT PAGE */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 481px) and (max-width: 767px) {
    .contact-info h2{
        margin-top: 30px;
    }
    .form-contact{
        margin-top: 20px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
    #contact-page{
        padding: 40px 0;
    }
    .cont-map{
        height: 250px;
    }
    .contact-info h2{
        margin-top: 30px;
        font-size: 30px;
    }
    .form-contact{
        margin-top: 20px;
    }
    .form-contact h2{
        font-size: 30px;
    }
}

@media (max-width: 320px) {
    #contact-page{
        padding: 40px 0;
    }
    .cont-map{
        height: 250px;
    }
    .contact-info h2{
        margin-top: 30px;
        font-size: 30px;
    }
    .form-contact{
        margin-top: 20px;
    }
    .form-contact h2{
        font-size: 30px;
    }
}

/* REGISTER PAGE */

#register-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

label{
    margin-bottom: 0;
}

.btn-register{
	background: #76b960;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #76b960;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;	
}

.btn-register:hover{
	background-color: transparent;
	text-decoration: none;
	border: 2px solid #76b960;
	color: #76b960;
    transition: 0.6s ease;
}

.form-fields-reg{
    box-shadow: none !important;
    border-radius: 0;
}

/* RESPONSIVE REGISTER */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #register-page{
        padding: 40px 0;
    }
}

@media (max-width: 320px) {
    #register-page{
        padding: 40px 0;
    }
}

/* LOGIN PAGE */

#login-page{
    padding: 80px 0;
    width: 100%;
    height: auto;
}

.btn-login{
	background: #76b960;
	text-decoration: none;
	padding: 15px 40px;
	border: 2px solid #76b960;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;	
}

.btn-login:hover{
	background-color: transparent;
	text-decoration: none;
	border: 2px solid #76b960;
	color: #76b960;
    transition: 0.6s ease;
}

/* RESPONSIVE LOGIN */

@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 768px) and (max-width: 991px) {
	
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (min-width: 321px) and (max-width: 480px) {
    #login-page{
        padding: 40px 0;
    }
}

@media (max-width: 320px) {
    #login-page{
        padding: 40px 0;
    }
}

/*

box-shadow: 5px 5px 10px #e6e6e6;

#76b960 - green
#747474 - gray

*/